$size-unit: 16px;
$size-half-unit: $size-unit/2;

$color-neutral-light: #EEE;
$color-neutral-dark: #3B3B3D;
$color-primary-light: #67CDDC;
$color-primary-dark: #00A9E0;
$color-secondary-light: #D0DD2B;
$color-secondary-dark: #98C73D;
