@import "compass";
@import "fonts";
@import "mixins";
@import "variables";

body * {
	margin: 0;
	padding: 0;
	@include box-sizing(border-box);
	@include transition(all 500ms);
	@include opacity(1);
	&:focus {
		outline: none 0;
	}
}

html {
	background-color: $color-neutral-dark;
	font: $size-unit/1 'Fjalla One', sans-serif;
	color: $color-neutral-light;
}

body {
	padding: $size-unit;
	min-width: 1024px;
}

#logo {
	font-size: 3em;
	color: $color-primary-dark;
	font-family: 'Comfortaa', cursive;
	em {
		font-style: normal;
		color: $color-secondary-light;
		display: inline-block;
	}
	.ng-scope & em {
		@include scaleX(-1);
	}
}

#track-title {
	font-size: 2em;
	color: $color-secondary-dark;
	text-align: center;
	width: 100%;
	margin-top: -2em;
}

#content {
	padding: $size-unit 0;
	@include opacity(0);
	.ready & {
		@include opacity(1);
	}
}

#player {
	@include opacity(0);
	.started & {
		@include opacity(1);
	}
}

#start {
	top: 50%;
	left: 50%;
	width: 40%;
	position: absolute;
	margin: ($size-unit*-2) 0 0 (-20%);
	[type=text] {
		width: 100%;
	}
	button {
		width: 50%;
		display: inline-block;
		@include opacity(0);
	}
	&.has-room {
		[type=text] {
			@include border-radius(5px 5px 0 0);
			border-bottom-width: 0;
		}
		button {
			@include opacity(1);
		}
	}
	button, [type=text] {
		font-size: $size-unit * 2;
	}
	#start-receiving {
		@include border-radius(0 0 0 5px);
	}
	#start-gesturing {
		@include border-radius(0 0 5px 0);
	}
	&.started {
		top: -200px;
		@include opacity(0);
	}
}

#stems {
	@include perspective(500);
	@include transform-style(preserve-3d);
	@include perspective-origin(50% 15%);
	padding-top: $size-unit*3;
	font-size: 2em;
	.stem {
		text-align: center;
		font-size: $size-unit;
		-webkit-box-reflect: below 0px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(50%, transparent), to(rgba(255,255,255,0.2)));
		@include rotateY(0deg);
		&.ready {
			&:nth-child(3n+1) {
				@include rotateY(20deg);
			}
			&:nth-child(2n+3) {
				@include rotateY(-20deg);
			}
			&:nth-child(3n+2) {
				@include translateZ(-65px);
			}
		}
		h3 {
			top: 0;
			width: 100%;
			line-height: 2;
			font-weight: normal;
			position: absolute;
			text-transform: capitalize;
		}
		position: relative;
		display: inline-block;
		width: 33%;
		canvas {
			@include background-image(radial-gradient(color-stops(fade-out(black, 0.1), fade-out(black, 0.7)), center));
			display: block;
			height: 100%;
			width: 100%;
		}
		.fa {
			font-size: $size-unit * 2;
			color: fade-out($color-neutral-light, 0.5);
			top: 50%;
			left: 50%;
			position: absolute;
			margin: (-$size-unit) 0 0 (-$size-unit);
			@include opacity(1);
		}
		&.ready .fa {
			@include opacity(0);
		}
	}
}

[type=text],button {
	@include appearence(none);
	text-align: center;
	padding: 0.5em 1em;
	background-color: fade-out($color-primary-dark, 1);
	border: solid 1px $color-primary-dark;
	color: $color-primary-dark;
	@include border-radius(5px);
	&:hover, &:focus {
		color: $color-primary-light;
		border-color: $color-primary-light;
	}
}

#message {

	top: 50%;
	left: 50%;
	width: 40%;
	position: absolute;
	margin: -100px 0 0 (-20%);
	font-size: 3em;
	text-align: right;

	color: $color-secondary-dark;
	strong {
		color: $color-primary-dark;
	}

	.fa {
		top: 50%;
		left: 50%;
		position: absolute;
		margin: 0 0 0 -0.5em;
	}

	&, .fa, &.empty .eventdata {
		@include opacity(0);
	}
	.eventdata, &.empty .fa, &.started {
		@include opacity(1);
	}
}

button {
	cursor: pointer;
	&:active {
		color: $color-neutral-light;
		border-color: $color-primary-dark;
		background-color: $color-primary-dark;
	}
}