
<!DOCTYPE html>
<html ng-app="index">

<head>
	<meta charset="utf-8">
	<title>LeapJ | DJ Anywhere.</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black">
	<link rel="stylesheet" href="/css/screen.css">
</head>

<body>

	<header>
		<h1 id="logo">Leap<em>L</em></h1>
	</header>

	<div id="content" ng-controller="tracks">

		<div ng-show="tracks" id="start" ng-class="{'has-room':room,started:mode}">
			<input type="text" placeholder="Where you at?!" ng-model="room" />
			<button id="start-receiving" ng-click="startReceiving()">Dance.
			</button><button id="start-gesturing" ng-click="startSending()">Leap.</button>
		</div>

		<div id="player" ng-controller="player" ng-class="{started:mode==='receiving'}">

			<h2 id="track-title">{{selectedTrack.name}} - {{selectedTrack.artist}}</h2>

			<div id="stems" ng-controller="stems">
				<div class="stem" ng-controller="stem" ng-class="{ready:!loading}" ng-repeat="stem in stems">
					<h3>{{key}}</h3>
					<canvas></canvas>
					<i class="fa fa-circle-o-notch"></i>
				</div>
			</div>

		</div>

		<div id="message" ng-controller="message" ng-class="{started:mode==='sending',empty:!gestureEvent}">
			<i class="fa fa-spin fa-circle-o-notch"></i>
			<div class="eventdata">
				<span>Type: </span><strong>{{ gestureEvent.type }}</strong>
			</div>
			<div class="eventdata">
				<span>X: </span><strong>{{ gestureEvent.x }}</strong>
			</div>
			<div class="eventdata">
				<span>Y: </span><strong>{{ gestureEvent.y }}</strong>
			</div>
			<div class="eventdata">
				<span>Z: </span><strong>{{ gestureEvent.z }}</strong>
			</div>
			<div class="eventdata">
				<span>hand: </span><strong>{{ gestureEvent.hand }}</strong>
			</div>
		</div>

	</div>

	<script async src="/js/requirejs-2.1.10/require.js" data-main="/js/app.js"></script>

</body>

</html>
